<div id="workoutFormContainer">
  <h3 id="heading">Welcome to our Gym - <%= @user.username.titleize %></h3>

  <ul id="bullets">
    <li id="display">
      <br>
      <br>
      <p id="siteIntro">Welcome to Gymm Buddy, the home of home workouts. At Gymm Buddy, we try and provide our users of all levels with workouts they can do from the comfort of their own home and which require minimal equipment. If you've made it this far, it means you've successfully signed up and/or logged in. Take a look at the navigation bar in the top right or by clicking the hamburger icon in the top left if you're on a mobile device. This homepage can be accessed at any time by clicking "Home" or our logo!

      <p style="max-width: 600px; margin: 0 auto;">
        The "My Workouts" button will take you to see all the workouts you've successfully added to your account. How do I do that, you might be thinking? Go ahead and click the "New Workout" button and you'll be taken to a page where you can fill out a form to create your home workout. You can edit or delete a workout at any time by clicking the corresponding buttons on a workout's individual page. Don't worry, only you have the ability to edit or delete your workout!

        By clicking the "All Workouts" button, you can see workouts others have added. You can also check out the other users on the site by clicking "All Users". Finally, you can complete or edit your profile by clicking the "Profile" button. When you're done checking out workouts for the day, click "Log Out".
      </p>
      <p id="siteIntro">Stay tuned because we have many more exciting features coming your way soon!  Now go get Gymm Buddy-ing and those biceps poppin'!</p>
      <p id="siteIntro">KIMATA <br>
        CEO Gymm Buddy&reg;</p>
      <br>
      <br>
    </li>
  </ul>
</div>


